{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": 49,
          "firefox": 64,
          "safari": 10,
          "edge": 13,
          "ios": 10
        },
        "useBuiltIns": "entry"
      }
    ]
  ]
}
